.video{
    width:400px; 
    height:200px;
}
.mydiv {
    width: 100%;
    border:1px solid #000000;
    background-color: #f2f2f2;
}
.mydiv div{
display: inline-block;
width: 400px;
min-height: 200px;
vertical-align: top ;
zoom: 1;
margin: 20px;
padding: 0;
}