.logo-mbds{
    float: right;
    width: 150px;
    height: 100px;

}
.logo-miage{
float:left;
width: 150px;
height: 100px;

}
.myhead{
    background-color:	
    #333333 ;
}
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
table {
    border-collapse: separate;
    border-spacing:5Opx;  /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}
table2 {
    border-collapse: separate;
    border-spacing:1Opx;  /* Nombre de pixels d'espace horizontal (5px), vertical (8px) */
}
.video{
    width:400px; 
    height:200px;
}
.mydiv {
    width: 100%;
    border:1px solid #000000;
    background-color: #FFF0F5;
}
.mydiv div{
display: inline-block;
width: 400px;
min-height: 200px;
vertical-align: top ;
zoom: 1;
margin: 20px;
padding: 0;
}

