<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <div class="sidenav">
     
    <a href="#about" class="icon-home"> Accueil</a>
    <a href="#services">Ajout vidéo</a>
    <a href="#clients">Paramétre</a>
    <a href="#contact">Contact</a>
    
    </div>
  
  <div class="main">
    <table class="table">
      <tr>
          <td><a href="http://unice.fr/"> <img class="logo-miage" src="./assets/images/logo-miage.png"></a>
       
        <td><a href="http://www.mbds-fr.org/"><img class="logo-mbds" src="./assets/images/logo-mbds.jpg"></a></td>
      </tr>
    </table>
    <table class="table2">
        <tr >
            <td *ngFor="let a of videos">
                
                <iframe class="video" [src] ="serialiseURL(a.url)"></iframe>
                <p>{{a.titre}}</p>
            </td>
        </tr>
    
    </table>
     
    
    </div>
  </body>