<body>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="sidenav">

    <a routerLink="/" class="icon-home"> Accueil</a><hr>
    <a routerLink="/addvideo">Ajout vidéo</a><hr>
    <a href="#contact">Contact</a><hr>
    <p class="contact">MASTER MBDS</p><hr>
    <p class="contact">Site des Lucioles-Bureau 221
                      1645 route des Lucioles
                        06410 Biot </p><hr>
    <p class="contact">Caroline Poirier </p><hr>
    <p class="contact">Tél : 04.92.38.85.29
        
    </p><hr>
    
 </div>

  <div class="main">
    <table class="table">
      <tr>
          <td><a href="http://unice.fr/"> <img class="logo-miage" src="./assets/images/logo-miage.png"></a>

        <td><a href="http://www.mbds-fr.org/"><img class="logo-mbds" src="./assets/images/logo-mbds.jpg"></a></td>
      </tr>
    </table>
    <router-outlet></router-outlet>


    </div>
  </body>
