<div class="contenu">
  <form #f="ngForm" (ngSubmit)="editVideo(f)">
    <label for="titre">Titre</label>
    <input type="text" id="titre" name="titre" ngModel placeholder="Le titre de votre vidéo..."
           required  [(ngModel)]="titre">

    <label for="description">Description</label>
    <textarea ngModel name="description" class="describe"  required  [(ngModel)]="description">

        </textarea>

    <label for="url"> URL</label>
    <input type="text" ngModel required disabled id="url" name="url" placeholder="L'URL de votre vidéo..." [(ngModel)]="url">

    <label for="urlimg"> URL Image</label>
    <input type="text" ngModel required id="urlimg" name="urlimg" placeholder="L'URL de l'image de votre video..." [(ngModel)]="urlimg">

    <input type="submit" value="Modifier" />
  </form>
</div>
