<div class="contenu">
  <form >
    <label for="titre">Titre</label>
    <input type="text" id="titre" name="titre" placeholder="Le titre de votre vidéo..."
           required  [(ngModel)]="titre">

    <label for="description">Description</label>
    <textarea  name="description" class="describe"  required  [(ngModel)]="description">

        </textarea>

    <label for="url"> URL</label>
    <input type="text" required id="url"  name="url" placeholder="Exemple:https://www.youtube.com/embed/clé video" [(ngModel)]="url">

    <label for="urlimg"> URL IMAGE</label>
    <input type="text" required id="urlimg" name="urlimg" placeholder="Exemple:https://i.ytimg.com/vi/clé vidéo/default.jpg" [(ngModel)]="urlimg">

    <input type="submit" value="Ajouter" (click)="newVideo()">
  </form>
</div>
